<!doctype html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
        <div class="title">
          <h1>Blog Posts</h1>
          <h2>Post anything you like</h2>
        </div>
        <form action="/posts" method="POST">
          <div>
            <input class="input" name="name" type="text" placeholder="Nickname" value="<%- requestBody.name ? helper.sanitize(requestBody.name): "" %>">
            <span><%= errorsObject.nameError %></span>
                  
          </div>
          <div>  
            <textarea class="input" name="blogpost" type="textarea" rows="4" columns="50" placeholder="Type your message here"><%- requestBody.blogpost ? helper.sanitize(requestBody.blogpost): "" %></textarea>
            <span><%= errorsObject.postError %></span>
                 
          </div>
          <button class="submit-btn" type="submit">Submit</button>
        </form> 
      </div>  
        <div class="posted-blogs">
            <% if (blogPosts.length > 0) { %>
                <% blogPosts.forEach(post => { %>
                    <article class="posts" id="<%= post.postId %>">
                        <div class="post-header">
                          <div class="post-header-left">
                            <div class="person-name">
                                <h3><%= post.name %></h3>
                            </div> 
                            <div class="date"><%= post.displayDate %></div>
                          </div>
                          <div class="post-header-right">
                            <form action="/posts/delete/<%= post.postId %>" method="post">
                              <button type="submit">Delete</button>
                            </form>
                            <button onclick="actOnPost(event)"  data-thisPostId="<%= post.postId %>">Like</button>
                            <span id="likes-count-<%= post.postId %>"><%- post.likesCount %></span>


                          </div>            
                        </div>
                        <div class="post-body">
                          <p class="blog-post"><%= post.blogpost %></p>
                        </div>
                      </article>
                <% }) %>

            <% } %>

           
       
        </div>
    <script>
        const updatePostStats = {
            Like: postId => {
               
                Number(document.querySelector(`#likes-count-${postId}`).textContent)++;

            
            },
            Unlike: postId => {Number(document.querySelector(`#likes-count-${postId}`).textContent)--;}

        };

        const toggleButtonText = {
            Like: button => {button.textContent = "Unlike";},
            Unlike: button => {button.textContent = "Like";}
        };

        const actOnPost = event => {
        const postId = event.target.dataset.thisPostId;
        const action = event.target.textContent.trim();
        toggleButtonText[action](event.target);
        updatePostStats[action](postId);

        fetch(`/posts/act/${postId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ action }),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        };
     
    </script>
    
  </body>
</html>